[submodule "vendor/linrays"]
	path = vendor/linrays
	url = https://github.com/Johan-Mi/linrays.git
[submodule "vendor/scratch-compiler"]
	path = vendor/scratch-compiler
	url = https://github.com/LukeGrahamLandry/scratch-compiler.git
[submodule "vendor/tres"]
	path = vendor/tres
	url = https://github.com/Johan-Mi/tres.git
